.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Lucida Sans Unicode";
  background-color:rgba(64,180,249) ;
}
.game{
  width:100vw;
  height:100vh;
  display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
}
.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 80vw;
  padding: 1vh;
  background: rgba(255,105,0,0);
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vh;
  padding: 1vh;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 8vh;
  background-color: rgb(255, 255, 255,0.5);
  border-radius: 1vh;
}

.color-2 {
  background-color: rgb(250, 65, 108,0.9);
}

.color-4 {
  background-color: #4196FA;
}

.color-8 {
  background-color: #4177FA;
}

.color-16 {
  background-color: #4157FA;
}

.color-32 {
  background-color: #4B41FA;
}

.color-64 {
  background-color: #6A41FA;
}

.color-128 {
  background-color: #8A41FA;
}

.color-256 {
  background-color: #AA41FA;
}

.color-512 {
  background-color: #9D7B9D;
}

.color-1024 {
  background-color: #F9833E;
}

.color-2048 {
  background-color: #F9C13E;
}

.number {
  color: #fff;
  font-size: 5vh;
  font-weight: bold;
}

.score {
  text-align: center;
  margin-bottom: 1vh;
  font-size: 2vh;
  font-weight: bold;
}

footer{
  position:fixed;
  bottom:0;
  left:0;
  width: 100vw;
  padding:15px;
  text-align: center;
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.0px );
-webkit-backdrop-filter: blur( 8.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); 
}

.go-to-home{
  position:absolute;
  left:0;
  top:0;
  color: rgba( 255, 255, 255, 0.65 );  
  cursor:pointer;
  padding:20px;
}

.game-controls button{
  margin: 10px 5px;
  background: rgba( 255, 255, 255, 0.15 );  
  backdrop-filter: blur( 8.0px );
  -webkit-backdrop-filter: blur( 8.0px );
  padding:5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  cursor:pointer;
}
.game-controls button:hover{
  background: rgba( 255, 255, 255, 0.45 );    
}

footer > div a{
  font-size :1em;
  text-decoration: underline !important;
}